.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
npm-debug.log
*.vsix
.git/**
node_modules/**
coverage/**
.DS_Store
Thumbs.db
*.log
.env*
screenshots/**
docs/**